/* Cor de fundo padrão para a página toda, margin, padding e box-sizing padrão também */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}
